/* header items */
.nav-menu{
    display: flex;
    justify-content: space-between;    
    align-items: center;
    padding: 10px;
}

.first-ul{
    display: flex;
    align-items: center;
}

.first-ul > li{
    margin-left: 40px;
}

.first-ul > li > a{
    font-family: SoDoSans,Helvetica Neue,Helvetica,Arial,sans-serif;
    color: #372b25;
}

/* 1st section items */

.first-section, .parent-div{
    width: 100%;
}

.banner{
    background-position: center;
    background-repeat: no-repeat;
    position: relative;
    object-fit: cover;
    width: 100%;
    height: auto;
}


@import url('https://fonts.googleapis.com/css?family=Roboto');
.shop{
    position: absolute;
    left: 300px;
    bottom: 130px;
    padding: 10px 25px;
    text-align: center;
    background-color: #DBD5CC;
    border-radius: 10px;
    border-color: #a09e9e;
    font-family: 'Roboto', sans-serif;   
    transition: 0.6s; 
}
.shop:hover{
    padding: 1% 2%;
}

/* 2nd section items */

@import url('https://fonts.googleapis.com/css2?family=Antic+Slab&display=swap');
.section-header{
    display: block;
    text-align: center;
    flex-wrap: nowrap;
    margin-top: 40px;
    margin-bottom: 40px;
    color: #1e3932;
    font-size: 45px;
    font-family: SoDoSans,Helvetica Neue,Helvetica,Arial,sans-serif;
}

.offers-box{
    display: flex;
    justify-content: space-between;
    flex-wrap: nowrap;
    margin-top: 20px;
}

.offer{
    background-color: #F2F0EB;
    border-radius: 10px;
    width: 460px;
    margin: 0px 20px 0px 20px;
}

.offer:hover{
    background-color: #ece7db;
}

.offer-h, .text-box > h3{
    display: block;
    text-align: center;
    font-size: 28px;
    font-family: SoDoSans,Helvetica Neue,Helvetica,Arial,sans-serif;
    margin-top: 20px;
    color: #1e3932;
}

.offer-img{
    margin-left: 25px;
    display: inline;
    width: 150px;

}

.offer-p{
    display: inline-block;
    vertical-align: bottom;
    margin-bottom: 40px;
    margin-left: 15px;
    width: 160px;
    font-family: SoDoSans,Helvetica Neue,Helvetica,Arial,sans-serif;
    font-size: 19px;
    color: #1e3932; 
}



/* third section items */

.delivery-box{
    display: block;
    background-color: #F0F8F5;
    margin-left: 20px;
    margin-right: 20px;
    box-sizing: border-box;
}

.text-box{
    display: inline-block;
    text-align: center;
    box-sizing: border-box;
    vertical-align:top;
    margin-top: 200px;
    margin-left: 40px;
}

.delivery-img{
    display: inline-block;
}

.text-box > p{
    display: block;
    text-align: center;
    font-family: SoDoSans,Helvetica Neue,Helvetica,Arial,sans-serif;
    font-size: 20px;
    color: #1e3932;
    margin-bottom: 30px;
    margin-top: 10px;
}

.text-box > h3{
    display: block;
    margin-bottom: 20px;
}

.btn{
    color: white;
    border-radius: 50px;
    background-color: #007042;
    padding: 4px 13px 4px 13px;
    border: none;
}

footer > div{
    display: inline-block;
}
.block, .icons{
    display: block;
    text-align: center;    
    margin-top: 50px;
}

.block > div{
    display: inline-block;
    vertical-align: top;
    margin-right: 60px;
}

.block > div > h3{
    font-size: 18px;
    margin-bottom: 7px;
    color: black;
}

.image{
    width: 20px;
    margin-right: 2px;
}

.links > li{
    margin-top: 2px;
}

.links > li > a{
    color: black;
}


/* nav-bar on small screens */

.nav-menu .icon{
    display: none;
}

@media screen and (max-width: 822px) {
    .nav-menu li, .second-bar{
        display: none;
    }
    .nav-menu div .icon{
        display: block;
        float: right;
        margin-left: 10px;
      }
    }

@media screen and (max-width: 822px) {
    .nav-menu.responsive-menu {position: relative;}
    .nav-menu.responsive-menu div a .icon {
      position: absolute;
      right: 0;
      top: 0;
    }
    .nav-menu.responsive-menu li {
      float: none;
      display: block;
      text-align: left;
    }
  }


  @media(max-width: 1090px){
    .offer{
        text-align: center;
    }

    
}

@media(max-width: 900px){
    .offers-box{
        flex-wrap: wrap;
    }

    .offer{
        margin-bottom: 20px;
        margin-left: 150px;
        margin-right: 150px;
        width: 100%;
    }
}

@media(max-width: 700px){
    .delivery-img{
        display: block;
        max-width: 100%;
    }
}